<!DOCTYPE html>
<html class="no-js">
   <head>
      <meta content="on" http-equiv="x-dns-prefetch-control"/>
      <link href="/notifyvisitors_push/chrome/manifest.json" rel="manifest"/>
      <meta charset="utf-8"/>
      <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
      <meta content="Child Insurance Plan, Child Education Insurance Policy in India by HDFC Life" name="title"/>
      <meta content="Child Insurance Plans &amp; Policies: HDFC Life child plan helps you save steadily over the future to best meet your child's education, investment &amp; marriage needs." name="description"/>
      <meta content="child insurance, child education plan, child plans, child plan, children plans, child investment plans, children insurance plans, child insurance plan, online child plans, online child insurance, best child plans in india, best policy for child" name="keywords"/>
      <meta content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
      <link href="//ajax.googleapis.com" rel="dns-prefetch"/>
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Source+Sans+Pro:300,400,400i,600,700,900" rel="stylesheet"/>
      <link href="//brandsite-css.hdfclife.com/static/assets/css/vendor.min.css" rel="stylesheet"/>
      <link href="//brandsite-css.hdfclife.com/static/assets/css/style.min.css" rel="stylesheet"/>
      <link href="/static//favicon.ico" rel="shortcut icon" type="image/x-icon"/>
      <script>
         dataLayer = [];
      </script>
      <meta content="5Gs_YjfzIWOCXsz76lGl7AXh558ZEmCtxn9ODRedWO4" name="google-site-verification"/>
      <title>Child Insurance Plan, Child Education Insurance Policy in India by HDFC Life</title>
   </head>
   <body style="background-color: #3487f7;">
   <%- include partials/header.ejs %>
   <div class="container">
  <div class="alert alert-info text-center">The insurance plan suggested to you by the system is Children's Plan.</div>         
</div>
      <div class="caption-outer section-wrapper" style="position:relative;">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-xs-8 col-sm-7 caption-wrap">
                           <div class="caption-title">
                              <div class="caption-icon-wrap"><img alt="" class="caption-icon img-responsive" src="https://brandsite-static.hdfclife.com/media/image/Child.png"/></div>
                              <h1 class="caption-title-text"><span class="caption-title-text-blue">Child Insurance</span> <span class="caption-title-text-red">Plans</span></h1>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 caption-subtitle-wrap">
                           <div class="caption-subtitle">
                              <p>
                                 <meta charset="utf-8"/>
                                 Successful parenting is no mean accomplishment. A huge contributor to this success is financial planning for your child's future needs at the right age! There is really no better gift you can give your child, than the promise of a secure future with YoungStar Child Plans that encompass child insurance plans &amp; child education plans from HDFC Life. This Birthday, gift your child a secure future &amp; career to watch her soar high to fulfill her dreams with child investment plans by HDFC Life.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
        </div>
            <div class="category-main-plan-qa-wrap" data-load="/static/assets/js/brandsite/widgets/plan-category/plan-questions-answers.js">
               <div class="section-wrapper">
                  <div class="container-fluid">
                     <div class="row plan-qa-row row-eq-height" id="insuranceAccordian">
                        <div class="col-xs-12 col-sm-4 plan-qa-block-wrap">
                           <div class="plan-qa-block">
                              <div class="question hidden-xs">
                                 <div class="va-helper"></div>
                                 <div class="question-icon-wrap"><img alt="" class="img-responsive" src="https://brandsite-static.hdfclife.com/media/image/01_child_what_FBkMiKF.png"/></div>
                                 <div class="question-text">What are Child Plans?</div>
                              </div>
                              <a aria-controls="plan-qa-ans-1" aria-expanded=" " class="question visible-xs" data-parent="#insuranceAccordian" data-toggle="collapse" href="#plan-qa-ans-1">
                                 <div class="va-helper"></div>
                                 <div class="question-icon-wrap"><img alt="" class="img-responsive" src="https://brandsite-static.hdfclife.com/media/image/01_child_what_FBkMiKF.png"/></div>
                                 <div class="question-text">What are Child Plans?</div>
                              </a>
                              <div class="answer collapse in" id="plan-qa-ans-1">
                                 <p>Child plans basically help in financial planning for your child's future needs at the right age. As a parent you can secure your child’s future with plans that encompass children insurance plans and children education plans.</p>
                                 <p>
                                    <meta charset="utf-8"/>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 plan-qa-block-wrap">
                           <div class="plan-qa-block">
                              <div class="question hidden-xs">
                                 <div class="va-helper"></div>
                                 <div class="question-icon-wrap"><img alt="" class="img-responsive" src="https://brandsite-static.hdfclife.com/media/image/02_child_why_vG41UTs.png"/></div>
                                 <div class="question-text">Why you need a Child Insurance Plan</div>
                              </div>
                              <a aria-controls="plan-qa-ans-2" aria-expanded="" class="question visible-xs" data-parent="#insuranceAccordian" data-toggle="collapse" href="#plan-qa-ans-2">
                                 <div class="va-helper"></div>
                                 <div class="question-icon-wrap"><img alt="" class="img-responsive" src="https://brandsite-static.hdfclife.com/media/image/02_child_why_vG41UTs.png"/></div>
                                 <div class="question-text">Why you need a Child Insurance Plan</div>
                              </a>
                              <div class="answer collapse in" id="plan-qa-ans-2">
                                 <p>
                                    <meta charset="utf-8"/>
                                 </p>
                                 <p>It is one of the best ways to save enough with regular investments for your child’s future for needs like higher education which can be costly.</p>
                                 <p>Financial protection features in child plans ensure that your child gets the best in the future even in your absence.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 plan-qa-block-wrap">
                           <div class="plan-qa-block">
                              <div class="question hidden-xs">
                                 <div class="va-helper"></div>
                                 <div class="question-icon-wrap"><img alt="" class="img-responsive" src="https://brandsite-static.hdfclife.com/media/image/03_child_how_ne2ruXO.png"/></div>
                                 <div class="question-text">How Child Insurance Plans by HDFC Life help you</div>
                              </div>
                              <a aria-controls="plan-qa-ans-3" aria-expanded="" class="question visible-xs" data-parent="#insuranceAccordian" data-toggle="collapse" href="#plan-qa-ans-3">
                                 <div class="va-helper"></div>
                                 <div class="question-icon-wrap"><img alt="" class="img-responsive" src="https://brandsite-static.hdfclife.com/media/image/03_child_how_ne2ruXO.png"/></div>
                                 <div class="question-text">How Child Insurance Plans by HDFC Life help you</div>
                              </a>
                              <div class="answer collapse in" id="plan-qa-ans-3">
                                 <p>
                                    <meta charset="utf-8"/>
                                 </p>
                                 <p>HDFC Life’s YoungStar Plans encompass child insurance plans and education policies from HDFC Life.</p>
                                 <p>They provide the ideal combo of protection and savings thanks to the many features of these children plans and make them perfect birthday gifts for your child</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      <script data-main="/static/assets/js/brandsite/require-config.js" src="/static/bower_components/requirejs/require.js"></script>
      <footer id="notify-visit">
         <script type="text/javascript">
            var digitalData = { 
            page : {
            'pageName': 'HDFCLife:Children Plans', 
            'channel':'HDFCLife:Children Plans', 
            'subSection2':'HDFCLife',
            'subSection3':'HDFCLife:Children Plans',
            'subSection4': 'HDFCLife:Children Plans',
            'userType':'guest/signed-in'
                 }
            };
         </script><script type="text/javascript">_satellite.pageBottom();</script><script src="/static/assets/js/common/brandsite_agent_and_source_code.js" type="text/javascript"></script>
         <div id="notifyvisitorstag"></div>
      </footer>
   </body>
</html>